*{
    padding: 0;
    margin: 0;
}
.footer{
    left: 0;
    right: 0;
    bottom: 0;
    background: #f2f2f2;
    padding: 2rem 0;
    text-align: center;
    margin-top: 6rem;
    }

.navbar{
    font-size: large;
}

.search{
    height: 55vh;
}
.error{
    display:grid; 
    justify-content: center; 
    align-items: center; 
    height:68vh; 
    line-height: 68vh;
}

.error picture img{
    height: 60vh;
}
