*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
    position: relative;
    min-height: 100vh;
}

body{

    justify-content: center;
    align-items: center;
    background: #edf1f4
}
.footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom:0;
    margin-top: 10px;
    background: #f2f2f2;
    text-align: center;
}

.navbar{
    font-size: large;
}

.login{
    margin: 100px auto;
    position: relative;
    width: 380px;
    padding: 20px 50px 20px;
    box-shadow: -14px -5px 100px -38px rgba(0,0,0,0.11);
    -webkit-box-shadow: -14px -5px 100px -38px rgba(0,0,0,0.11);
    -moz-box-shadow: -14px -5px 100px -38px rgba(0,0,0,0.11);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.login form{
    position: relative;
    width: 100%;
}

.login form h2{
    font-size: 2em;
    margin-bottom: 30px;
    line-height: 0.9em;
}

.login form h2 span{
    font-weight: 300;
    font-size: 0.65em;
}

.login form .inputBox{
    position: relative;
    display: flex;
}

.login form .inputBox input{
    border: none;
    outline: none;
    background: transparent;
    border-radius: 10px;
    font-size: 1em;
}

.login form .inputBox input[type="text"],
.login form .inputBox input[type="password"]{
    width: 100%;
    padding: 15px 20px;
    padding-left: 40px;
    margin-bottom: 20px;
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.1),
    inset -5px -5px 10px #fff;
}

.login form .inputBox i{
    position: absolute;
    left: 20px;
    top: 17px;
}

.login form .inputBox input[type="submit"]{
    margin-top: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1),
    -5px -5px 10px #fff;
    width: 100%;
    padding: 15px 20px;
    cursor: pointer;
    font-weight: 600;
}

.login form .inputBox input[type="submit"]:focus{
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.1),
    inset -5px -5px 10px #fff;
}

.login span{
    font-weight: 300;
    font-size: 0.9em;
}

.busqueda h1{
    text-align: center;
    font-weight: 600;
    color: #423e3e;
}

.busqueda p{
    text-align: center;
    color: #969292;
    
}
.error{
    display:grid; 
    justify-content: center; 
    align-items: center; 
    height: 100%;
}

.error picture img{
    height: 60vh;
}

#card-libro{
    margin-top: 10px;
    margin-bottom: 20px;
}

.card-libro-descripcion{
    font-size:small;
}

.estrellas img{
    width: 2.5rem
}

.reseñas-google{
    display: flex;
}
.reseñas-google #reseña-promedio{
    font-size: 60px;

}

.reseñas-google #reseña-total{
    margin-left: 10px;
    line-height: 70px;
}

.reseña-propia{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}
.reseña-propia h2{
    font-weight: 600;
    color: #423e3e;
    font-size: 48px;
}

.reseña-propia-pregunta{
    color: #969292;
    font-size: 30px;
    margin-bottom: 20px;
}

.puntuacion-usuario-comentario{
    direction: rtl;/* right to left */
    unicode-bidi: bidi-override;/* bidi de bidireccional */
}

.puntuacion-usuario-comentario input[type = "radio"]{
    display:none;
}

.puntuacion-usuario-comentario input[type = "radio"]:checked ~ label img{
    content: url(/static/images/star-fill.svg);
}

.puntuacion-usuario-comentario label img:hover{
    cursor: pointer;
    content: url(/static/images/star-fill.svg);
}

.puntuacion-usuario-comentario img{
    width: 30px;
}

.puntuacion-usuario-comentario p{
    color: #6c757d;
}


.reseñas-comunidad{
    padding-bottom: 100px;
}

.reseñas-comunidad h2{
    text-align: center;
    font-weight: 600;
    color: #423e3e;
    font-size: 48px;
    margin-bottom: 40px;
}

.post {
    border-bottom: 1px solid #adb5bd;
    color: #969292;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.post .user-block {
    margin-bottom: 15px;
    width: 100%;
}
.user-block{
    float: left;
}

.user-block img{
    float: left;
    height: 40px;
    width: 40px;
}

.img-circle{
    border-radius: 50%;
}

.img-bordered-sm {
    border: 2px solid #adb5bd;
    padding: 2px;
}

.user-block .username{
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin-left: 50px;
    margin-top: -1px;
}

.user-block .description{
    display: block;
    margin-left: 50px;
    color: #6c757d;
    font-size: 13px;
    margin-top: -3px;
}

.puntuacion-usuario img{
    width: 25px;
}