{% extends "layout.html" %}
{% block title %}Editar Usuario{% endblock %}
{% block main %}
<div class="editar container">
    <form method="post" action="/editarusuario" enctype="multipart/form-data">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div
            class="alert alert-primary alert-dismissible fade show flashes"
            role="alert">
            {% for message in messages %}
            <button type="button" class="close"
                data-dismiss="alert"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong class="d-flex justify-content-center">{{ message }}</strong>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <h2>Edita<br><span>tu informacíon a tu antojo</span></h2>
        <div class="inputBox">
            <input type="text" name="name" placeholder="Nombre" id="name"
                autocomplete="off" value="{{datos.nombre}}">
                <i class="fa-solid fa-face-laugh-beam"></i>
        </div>
        <div class="inputBox">
            <input type="text" name="username" placeholder="Usuario" disabled
                id="username" autocomplete="off" value="{{datos.usuario}}">
            <i class="fa-regular fa-user"></i>
        </div>
        <div class="inputBox">
            <input type="password" name="password" placeholder="Nueva contraseña"
                id="password" autocomplete="off">
            <i class="fa-solid fa-lock"></i>
        </div>
        <div class="inputBox">
            <input type="password" name="confirmation" placeholder="Confirmar contraseña"
                id="confirmation" autocomplete="off">
                <i class="fa-regular fa-circle-check"></i>  
        </div>
        <div class="container-input">

            <input type="file" name="imagen" id="imagen" class="inputfile inputfile-2" data-multiple-caption="{count} archivos seleccionados" multiple/>
            <label for="imagen">
            <svg xmlns="http://www.w3.org/2000/svg" class="iborrainputfile" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg>
            <span class="iborrainputfile">Imagen de perfil</span>
            </label>
        </div>
        <div class="inputBox">
            <input type="submit" value="Editar">
        </div>
    </form>
</div>
<script>
    'use strict';

;( function ( document, window, index )
{
	var inputs = document.querySelectorAll( '.inputfile' );
	Array.prototype.forEach.call( inputs, function( input )
	{
		var label	 = input.nextElementSibling,
			labelVal = label.innerHTML;

		input.addEventListener( 'change', function( e )
		{
			var fileName = '';
			if( this.files && this.files.length > 1 )
				fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
			else
				fileName = e.target.value.split( '\\' ).pop();

			if( fileName )
				label.querySelector( 'span' ).innerHTML = fileName;
			else
				label.innerHTML = labelVal;
		});
	});
}( document, window, 0 ));
</script>

{% endblock %}