{% extends "/layout.html"%}
{% block title%}
Login
{% endblock %}
{% block main %}
<main>
    <div class="container">
    
    <div class="login">
      <form method="post" action="/login">
        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            <div
                                class="alert alert-primary alert-dismissible fade show flashes"
                                role="alert">
                                {% for message in messages %}
                                <button type="button" class="close"
                                    data-dismiss="alert"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong class="d-flex justify-content-center">{{ message }}</strong>
                                {% endfor %}
                            </div>
                            {% endif %}
                            {% endwith %}
        <h2>Hola! <br><span>Bienvenido!</span></h2>
        <div class="inputBox">
          <input type="text" name="username" placeholder="Usuario" autocomplete="off">
          <i class="fa-regular fa-user"></i>
        </div>
        <div class="inputBox">
          <input type="password" name="password" placeholder="Contraseña" autocomplete="off">
          <i class="fa-solid fa-lock"></i>
        </div>
        <div class="inputBox">
          <input type="submit" value="Log in">
        </div>
      </form>
      <span >No estás registrado?<a class="pl-1" href="/register"
            id="singup">Registrate</a></span>

    </div>
  </div>
</main>

{%endblock%}