{% extends "/layout.html"%}
{% block title%}
Registro
{% endblock %}
{% block main%}
<div class="login">
    <form method="post" action="/register">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div
            class="alert alert-primary alert-dismissible fade show flashes"
            role="alert">
            {% for message in messages %}
            <button type="button" class="close"
                data-dismiss="alert"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong class="d-flex justify-content-center">{{ message }}</strong>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <h2>Registrate <br><span>para poder entrar!</span></h2>
        <div class="inputBox">
            <input type="text" name="name" placeholder="Nombre" id="name"
                autocomplete="off">
                <i class="fa-solid fa-face-laugh-beam"></i>
        </div>
        <div class="inputBox">
            <input type="text" name="username" placeholder="Usuario"
                id="username" autocomplete="off">
            <i class="fa-regular fa-user"></i>
        </div>
        <div class="inputBox">
            <input type="password" name="password" placeholder="Contraseña"
                id="password" autocomplete="off">
            <i class="fa-solid fa-lock"></i>
        </div>
        <div class="inputBox">
            <input type="password" name="confirmation" placeholder="Confirmar contraseña"
                id="confirmation" autocomplete="off">
                <i class="fa-regular fa-circle-check"></i>  
        </div>
        <div class="inputBox">
            <input type="submit" value="Log in">
        </div>
    </form>
    <span class="d-flex justify-content-center pt-1">Ya tienes cuenta? <a
            class="pl-1" href="/login" id="login">Ingresa</a></span>
</div>

{% endblock %}
