{% extends "/layout.html"%}
{% block title%}
Búsqueda
{% endblock %}

{% block main %}
<div class=" pt-2 busqueda">
    <h1>El libro que te interesa a un solo click</h1>
    <p>
        Sitio web en el cuál puedes registrarte para dejar reseñas en los libros
        y a su vez ver reseñas hechas por otras personas
    </p>
</div>
<div class="input-search">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger alert-dismissible fade show flashes"
        role="alert">
        {% for message in messages %}
        <button type="button" class="close" data-dismiss="alert"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong class="d-flex justify-content-center">{{ message }}</strong>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <form class="form-inline pb-3 pt-2" action="/search" method="POST">
        <input class="form-control col-lg-10 col-md-10 col-sm-12"
            autocomplete="off" type="search" {%if parametro%} value="{{parametro}}" {%endif%}
            placeholder="Busca tu libro favorito" id="search" name="search"
            aria-label="Search" {%if not parametro%} autofocus {%endif%} list="datalistOptions">
            <!--Sugerencias de autocompletado Rellenado con JS y la consulta a la db en python-->
            <datalist id="datalistOptions">
            </datalist>
        <button
            class="btn btn-outline-primary my-2 my-sm-1 col-lg-2 col-md-2 col-sm-12"
            type="submit">Buscar</button>
    </form>
</div>
<div class="row d-flex justify-content-around pb-5 mb-5">
    {%for libro in libros%}
    <div class="card mt-2 p-1 mx-2 col-10 col-sm-6 col-md-5 col-lg-5 primer_resultado" style="height: 450px;" >
        <img class="card-img-top" src="/static/images/libro.png" alt="Imagen de libro" style="object-fit: contain; height:50%">
        <div class="card-body">
            <h5 class="card-title">{{libro.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Autor: {{libro.author}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Año: {{libro.year}}</h6>
            <p class="card-text">Para ver más detalles de éste libro de click en
                el siguiente botón</p>
            <div
                class="mt-2 rounded-0 product-overlay d-flex align-items-center justify-content-center">
                <form action="/verlibro" method="get">
                    <input type="hidden" name="isbn" value="{{libro.isbn}}"
                        id="isbn">
                    <button type="submit"
                        class="btn btn-secondary text-white mt-2">
                        Detalles
                    </button>
                </form>
            </div>

        </div>
    </div>
    {%endfor%}
</div>
<script src="/static/js/search.js"></script>
{%endblock%}