{% extends "/layout.html"%}
{% block title%}
Search
{% endblock %}

{% block main %} 
<div class="text-center pt-2">
    <h1 >El libro que te interesa a un solo click</h1>
    <p>
        Sitio web en el cual puedes registrarte para dejar reseñas en los libros y a su vez ver reseñas hechas por otras personas
    </p>
</div>
<div class="search">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger alert-dismissible fade show flashes" role="alert">
                {% for message in messages %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong class="d-flex justify-content-center">{{ message }}</strong>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <script>
        $(".alert").alert();
    </script>
    
    <form class="form-inline" action="/search" method="POST">
        <input class="form-control mr-sm-2 col-lg-9 col-md-9 col-sm-12" autocomplete="off" type="search" placeholder="Busca tu libro favorito" id="search" name="search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 col-lg-2 col-md-2 col-sm-2" type="submit">Search</button>
    </form>
</div>
<div class="row d-flex justify-content-center">
{%for respuesta in response%}
    <div class="card text-center mb-2 p-1 mx-2 col-10 col-sm-6 col-md-5 col-lg-5">
        <img class="card-img mt-2" style="object-fit: contain; height: 50%;"
            {% if respuesta.imageLinks %}
            src="{{respuesta['imageLinks']['smallThumbnail']}}"
            {% else %}
            src=""
            alt="no hay imagen"{% endif %}>
            
        <div
            class="mt-2 rounded-0 product-overlay d-flex align-items-center justify-content-center">
            <ul class="list-unstyled">
             
                <li>
                    <form action="/verproducto" method="get">
                        <input type="hidden" name="id" value="" id="id">
                        <button type="submit" class="btn btn-secondary text-white mt-2">
                            Ver libro
                            <i class="far fa-eye"></i>
                        </button>
                    </form>
                </li>
       
            </ul>
        </div>
        <div class="card-body p-0">
            <h4 class="card-title">{{respuesta['title']}}</h4>
            <h3 class="card-text">{{respuesta['authors']}}</h3>

        </div>
    </div>
    {%endfor%}
</div>

{%endblock%}