{% extends "/layout.html"%}
{% block title%}
Detalles del libro
{% endblock %}

{% block main %}

<div class="card card-solid" id="card-libro">
    <div class="card-body m-0">
        <div class="row">
            <div class="col-12 col-sm-6">
                <h3 class="d-inline-block d-sm-none">Titulo: {{response[0]['title']}}</h3>
                <div class="col-12 text-center">
                    <img src="{{response[0]['imageLinks']['thumbnail']}}" style="width: 90%; object-fit: contain;" class="product-image" alt="Product Image">
                </div>
            </div>
            <div class="col-12 col-sm-6" id="card-libro-info">
                <h3 class="my-3">Titulo: {{response[0]['title']}}</h3>
                <h5 class="card-subtitle mb-2 text-muted">Autor: {{response[0]['authors']|trim("[']")}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Editora: {{response[0]['publisher']|trim("'")}}, {{response[0]['publishedDate']|trim("'")}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">ISBN: {{response[0]['industryIdentifiers'][1]['identifier']}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Categoria: {{response[0]['categories']|trim("[']")}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Idioma: {{response[0]['language']|upper()}} - {{response[0]['pageCount']}} páginas</h6>
                <hr>
                
                <h4>Descripción</h4>
                <div class="card-libro-descripcion text-muted">
                    <p>
                        {{response[0]['description']}}
                    </p>
                </div>
                <hr>
                <h4>Puntuación</h4>
                <div class="cajaestrellas">
                    <input type="hidden" name="average" id="average" value="{{response[0]['averageRating']}}">
                    <div class="estrellas" id="estrellas">
                    </div>
                    <div class="reseñas-google">
                        <h5 class="card-subtitle mb-2 text-muted" id="reseña-promedio">{{response[0]['averageRating']}}</h5>
                        <h5 class="card-subtitle mb-2 text-muted" id="reseña-total">{{response[0]['ratingsCount']}} Ratings</h5>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
<section class="reseñas">
    <h2 class="">Reviews</h2>
    <div class="post">
        <div class="user-block">
            <img class="img-circle img-bordered-sm" src="/static/images/avatar.png" alt="user image">
            <span class="username">
            <a href="#">jerryespi</a>
            <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
            </span>
            <span class="description">Shared publicly - 7:30 PM today</span>
        </div>
        <div class="puntuacion-usuario">
            <img src="/static/images/star-fill.svg" alt="">
            <img src="/static/images/star-fill.svg" alt="">
            <img src="/static/images/star-fill.svg" alt="">
            <img src="/static/images/star.svg" alt="">
            <img src="/static/images/star.svg" alt="">
        </div>
        <p>
        Lorem ipsum represents a long-held tradition for designers,
        typographers and the like. Some people hate it and argue for
        its demise, but others ignore the hate as they create awesome
        tools to help create filler text for everyone from bacon lovers
        to Charlie Sheen fans.
        </p>   
    </div>
</section>

<script src="/static/js/createRating.js"></script>
{% endblock%}