{% extends "/layout.html"%}
{% block title%}
Detalles del libro
{% endblock %}

{% block main %}

<div class="card card-solid" id="card-libro">
    <div class="card-body m-0">
        <div class="row">
            <div class="col-12 col-sm-6">
                <h3 class="d-inline-block d-sm-none">Titulo: {{response[0]['title']}}</h3>
                <div class="col-12 text-center">
                    <img src="{{response[0]['imageLinks']['thumbnail']}}" style="width: 90%; object-fit: contain;" class="product-image" alt="Product Image">
                </div>
            </div>
            <div class="col-12 col-sm-6" id="card-libro-info">
                <h3 class="my-3">Titulo: {{response[0]['title']}}</h3>
                <h5 class="card-subtitle mb-2 text-muted">Autor: {{response[0]['authors']|trim("[']")}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Editora: {{response[0]['publisher']|trim("'")}}, {{response[0]['publishedDate']|trim("'")}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">ISBN: {{response[0]['industryIdentifiers'][1]['identifier']}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Categoria: {{response[0]['categories']|trim("[']")}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Idioma: {{response[0]['language']|upper()}} - {{response[0]['pageCount']}} páginas</h6>
                <hr>
                
                <h4>Descripción</h4>
                <div class="card-libro-descripcion text-muted">
                    <p>
                        {{response[0]['description']}}
                    </p>
                </div>
                <hr>
                <h4>Puntuación</h4>
                <div class="cajaestrellas">
                    <input type="hidden" name="average" id="average" value="{{response[0]['averageRating']}}">
                    <div class="estrellas" id="estrellas">
                    </div>
                    <div class="reseñas-google">
                        <h5 class="card-subtitle mb-2 text-muted" id="reseña-promedio">{{response[0]['averageRating']}}</h5>
                        <h5 class="card-subtitle mb-2 text-muted" id="reseña-total">{{response[0]['ratingsCount']}} Ratings</h5>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
<section class="reseña-propia">
    <h2>Puntuación y Reseña</h2>
    <div class="reseña-propia-pregunta">
        ¿Qué Piensas de éste libro?
    </div>
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#modelId">
        Escribe una Reseña
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Reseña</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div> 
                <form action="" method="post">
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="puntuacion-usuario-comentario">
                                <input type="radio" name="start" id="start1" value="5">
                                <label for="start1"><img src="/static/images/star.svg" alt></label>
                                <input type="radio" name="start" id="start2" value="4">
                                <label for="start2"><img src="/static/images/star.svg" alt></label>
                                <input type="radio" name="start" id="start3" value="3">
                                <label for="start3"><img src="/static/images/star.svg" alt></label>
                                <input type="radio" name="start" id="start4" value="2">
                                <label for="start4"><img src="/static/images/star.svg" alt></label>
                                <input type="radio" name="start" id="start5" value="1">
                                <label for="start5"><img src="/static/images/star.svg" alt></label>
                                <p>Puntua éste libro</p>
                            </div>
                            <input type="hidden" name="libro_id" id="" value="{{libro_id}}">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Reseña:</label>
                                <textarea class="form-control" id="message-text" name="mensaje"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-warning">Enviar</button>
                    </div>
                </form>   
            </div>
        </div>
    </div>

</section>
<section class="reseñas-comunidad">
    <h2>Reseñas de la comunidad</h2>
    {%for reseña in reseñas%}
    <div class="post">
        <div class="user-block">
            <img class="img-circle img-bordered-sm" src="/static/images/avatar.png" alt="user image">
            <span class="username">
            <a href="#">{{reseña[3]}}</a>
            <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
            </span>
            <span class="description">{{reseña[2]}}</span>
        </div>
        <div class="puntuacion-usuario">
            {% for x  in range(reseña[1]) %}
            <img src="/static/images/star-fill.svg" alt="">
            {%endfor%}
            {% for y in range(5 - reseña[1])%}
                <img src="/static/images/star.svg" alt="">
            {% endfor %}
        </div>
        <p>
        {{reseña[0]}}
        </p>   
    </div>
    {%endfor%}
</section>

<script src="/static/js/createRating.js"></script>
{% endblock%}